<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Bandera</th>
            <th>Nombre</th>
            <th>Poblacion</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let item of paises; let i = index">
            <td>{{ i+1 }}</td>
            <td>
                <img class="small-flag" src="{{ item.flags.png }}" alt="">
            </td>
            <td>{{ item.name.common }}</td>
            <td>{{ item.population | number }}</td>
            <td>
                <a [routerLink]="['/pais/',item.altSpellings[0]]">Ver...</a>
            </td>
        </tr>
    </tbody>
</table>